# Rename this file to .env

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The ID of your GitHub App, created at: https://github.com/settings/apps/new
# For Homepage URL use the WEBHOOK_PROXY_URL value
# Permissions: read and write issues and PRs
# Events: Issues, issue comments, pull-requests
# Set a random Webhook secret
# Note the App ID and download the private key file
APP_ID=
PRIVATE_KEY_PATH=
WEBHOOK_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

